<% include ./../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
<!--			<div class="list-group">-->
<!--				<li class="list-group-item active">Info 1</li>-->
<!--				<li class="list-group-item">Info 2</li>-->
<!--				<li class="list-group-item">Info 3</li>-->
<!--			</div>-->
			<div id="map" style="width: 100%;height: 400px"><h1>Hi</h1></div>
		</div>
		<div class="col-md-9">
			<div class="img-thumbnail">
				<img class="img-responsive img-fluid" src="<%= campground.image%>">
				<div class="caption-full">
					<h4 class="float-right">$9.00/night</h4>
					<h4><a> <%=campground.name%> </a></h4>
					<p> <%=campground.description%> </p>
					<p> <em>Created By</em> <%=campground.author.username%> </p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %> <!-- 在app.js 定义了-->
						<a class = "btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">EDIT</a>
						<form style="display: inline;" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
							<button class="btn btn-danger">DELETE</button>
						</form>
					<% } %>
				</div>
			</div>
			<div class="card card-body">
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%= campground._id%>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% campground.comments.forEach(function(comment) { %>
					<div class="row">
						<div class="col-md-12" style="margin-bottom: 1em">
							<strong><%= comment.author.username %></strong>
							<span class="float-right">10 days ago</span>
							<p style="margin-bottom:0"><%= comment.text %></p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								<span class="float-right">
									<a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">EDIT</a>
									<form style="display: inline;" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
										<input type="submit" class="btn btn-sm btn-danger" value="Delete">
									</form>
								</span>
							<% } %>
						</div>
					</div>					
				<% }) %>
			</div>
		</div>
	</div>
</div>

<script>
	function initMap() {
		var lat = <%= campground.lat %>;
		var lng = <%= campground.lng %>;
		var center = {lat : lat, lng : lng};
		var map = new google.maps.Map(document.getElementById("map"), {zoom : 8, center : center, scrollwheel : false});
		var contentString = "<strong><%= campground.name %><br/><%= campground.location %></strong><p><%= campground.description %></p>";
		var infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		var marker = new google.maps.Marker({
			position: center,
			map: map
		});
		marker.addListener('click', function() {
			infowindow.open(map, marker);
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjt_a1wpt2J9xyO3YYdyrSJpSgXfGWxcU&callback=initMap"></script>
<% include ./../partials/footer %>
